*{

    margin: 0;
    padding: 0;
    font-family:system-ui;

}

body{

    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/img/2051165.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
    
    
}

body::before{

        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgb(0, 0, 0,0.164);

} 

.frame{
    height: 400px;
    width: 370px;
    backdrop-filter: blur(5px);
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px white;


}

.login{
    font-size: 50px ;
    font-weight: bold;
    color: white;
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;

}


.Usuario, .password{
    width: 95%;
    height: auto;
    display: flex;
    align-items: center;
    margin: 0.5rem;
    position: relative;
    margin-bottom: 15px;

}

.Usuario input, .password input{

    padding: 8px 8px 8px 15px;
    background: transparent;
    border: none;
    width: 100%;
    border: 1px solid #cecece;
    border-radius: 50px;
    font-size: 17px;
    outline: none;
    font-weight: bold;

}

.Usuario input::placeholder, .password input::placeholder{

    color: white;

}

.Usuario i, .password i{

    position: absolute;
    margin-right: 9px;

}



.remember_forgot{
    height: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;

}

.remember_forgot .remember{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    font-size: 17px;
    color: white;
    font-weight: bold;
}

.remember_forgot .remember.input{
    height: 15px;
    width: 15px;
    margin-right: 0.2rem;

}

.remember_forgot .forgot a{
    font-size: 17px;
    text-decoration: none;
    color: white;
    font-weight: bold;

}

.log{

    width: 90%;
    padding: 10px;
    margin-top: 1rem;
    font-size: 25px;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;

}

.log a {

    text-decoration: none;
    color: black;
    font-weight: 500;

}
 

.reg{
    margin-top: 1.5rem;
    color: white;

}

.reg a{

    font-weight: bold;
    color: white;

}


